<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <button class="btn btn-primary" (click)="prevPage()">Previous</button>
                <button class="btn btn-primary" (click)="nextPage()">Next</button>
                <button  class="btn btn-primary" mat-button (click)="onClose()"> Cancel</button>
            </div>
        </div>
        <div class="card-body">
            <app-pdf-cropper [src]="result1"></app-pdf-cropper>
        </div>
    </div>
</div>




